<div class="widgetBody currentLocalTimeInTZ">
    <div class="center-align">
        <div
            vue-entry="CurrentLocalTimeInTZ.DateTimeInTZ"
            timezone="{{ timezone }}"
            locale="{{ locale }}"
        ></div>
    </div>
    <br />
</div>
